<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path], ["Criterios", criteria_path]]%>

<a href="#" id="searchLink">Hacer busqueda </a>
<div class="" id="searchForm" style="display:none;">
<%= form_tag(criteria_path, method: :get) do %>
  <div class="form-group">
  <%= label_tag "Puntaje:" %>
  <%= text_field_tag :score,params[:score], class: "form-control" %>
  </div>
  <div class="form-group">
  <%= label_tag "Grado:" %>
  <%= select_tag :degree,  options_from_collection_for_select(@degrees, "id", "number",params[:degree]), options = {:include_blank => true, class: 'form-control'} %>
  </div>
  <%= submit_tag 'Buscar', class: 'btn btn-success' %>
<% end %>
</div>

<h1>Criteria</h1>

<table class="pretty table table-hover">
  <thead>
    <tr>
      <th><%= sortable "position_type_id", "Tipo de posición ", params%></th>
      <th><%= sortable "criteria_type", "Tipo de criterio ", params%></th>
      <th><%= sortable "score", "Puntaje", params%></th>
      <th><%= sortable "degree_id", "Grado", params%></th>
      <th><%= sortable "description", "Descripción", params %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criteria.each do |criterium| %>
      <tr>
        <td><%= criterium.position_type.name.upcase %></td>
        <td><%= criterium.criteria_type %></td>
        <td><%= criterium.score %></td>
        <td><%= criterium.degree.number %></td>
        <td><%= criterium.description %></td>
        <td><%= link_to 'Ver', criterium %></td>
        <td><%= link_to 'Editar', edit_criterium_path(criterium) %></td>
        <td><%= link_to 'Eliminar', criterium, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<nav>
<%= will_paginate @posts %>

</nav>
<br>

<%= link_to 'Nuevo criterio', new_criterium_path %>
