<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<%= form_tag(criteria_path, method: :get) do %>
  <div class="form-group">
  <%= label_tag "Score:" %>
  <%= text_field_tag :score,params[:score], class: "form-control" %>
  </div>
  <div class="form-group">
  <%= label_tag "Degree:" %>
  <%= text_field_tag :degree,params[:degree], class: "form-control" %>
  </div>
  <%= submit_tag 'Buscar', class: 'btn btn-success' %>
<% end %>

<h1>Criteria</h1>

<table class="pretty table table-hover">
  <thead>
    <tr>
      <th><%= sortable "position_type_id", "Tipo de posición ", params%></th>
      <th><%= sortable "criteria_type", "Tipo de criterio ", params%></th>
      <th><%= sortable "score", "Puntaje", params%></th>
      <th><%= sortable "degree_id", "Grado", params%></th>
      <th><%= sortable "description", "Descripción", params %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criteria.each do |criterium| %>
      <tr>
        <td><%= criterium.position_type.name.upcase %></td>
        <td><%= criterium.criteria_type %></td>
        <td><%= criterium.score %></td>
        <td><%= criterium.degree.number %></td>
        <td><%= criterium.description %></td>
        <td><%= link_to 'Show', criterium %></td>
        <td><%= link_to 'Edit', edit_criterium_path(criterium) %></td>
        <td><%= link_to 'Destroy', criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criterium', new_criterium_path %>
