<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de criterio:</strong>
  <%= @criterium.criteria_type %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @criterium.score %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @criterium.degree.number %>
</p>

<%= link_to 'Editar', edit_criterium_path(@criterium) %> |
<%= link_to 'Volver', criteria_path %>
