<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h4>
        <%= pluralize(user.errors.count, "error", plurar="errores" ) %> impidieron a este usuario de ser guardado:
        </h4>

      </div>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Usuario" %>
    <%= f.text_field :username, class: 'form-control', required: "required" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password,class: 'form-control', minlength: 6 %>
  </div>
    <div class="form-group">
      <%= f.label "Confirmacion de password" %>
      <%= f.password_field :password_confirmation ,class: 'form-control'%>
    </div>
<% if current_user.is_admin? %>
    <div class="form-group">
      <%= f.label "Empresa" %>
      <%= f.select :company_id, options_for_select(@companies.map{ |pt| [pt.name.upcase, pt.id]}, selected: user.company_id),{ :include_blank => true },{ class: 'form-control'} %>
    </div>

    <div class="form-group">
    <%= f.label :is_admin, class: "checkbox-inline" do %>
      <%= f.check_box :is_admin  %>
      <span>Dar permisos de administrador</span>
    <% end %>
    </div>
    <h4>Permisos de Usuario</h4>
    <div class="form-group">
    <%= f.label :evaluate, class: "checkbox-inline" do %>
      <%= f.check_box :evaluate  %>
      <span>Valorar</span>
    <% end %>
    </div>

    <div class="form-group">
      <%= f.label :review, class: "checkbox-inline" do %>
        <%= f.check_box :review  %>
        <span>Revisar</span>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :approve, class: "checkbox-inline" do %>
        <%= f.check_box :approve  %>
        <span>Aprobar</span>
      <% end %>
    </div>

<% end %>
  <div class="form-group">
    <%= f.submit locals[:submit_string], class: 'btn btn-success' %>
  </div>
<% end %>
