
<%= render 'layouts/breadcrumb', titles: get_breadcrumb_for_job_title(@job_title)%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @job_title.name %>
</p>


<%= link_to 'Editar', edit_job_title_path(@job_title) %> |
<%= link_to 'Volver', get_path_for_return_job_title(@job_title) %>
