<%= form_for(degree) do |f| %>
  <% if degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(degree.errors.count, "error", plural="errores") %> impidieron este grado de ser guardado:</h2>

      <ul>
      <% degree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label "Numero" %>
    <%= f.number_field :number, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label "Minimo" %>
    <%= f.number_field :minimum, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label "Medio" %>
    <%= f.number_field :median, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label "Máximo" %>
    <%= f.number_field :maximun , class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit locals[:submit_string], class: 'btn btn-success'%>
  </div>
<% end %>
