<p id="notice"><%= notice %></p>

<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path], ["Grados", degrees_path]]%>
<h1>Grados</h1>

<table class="table table-hover">
  <thead>
    <tr class="row">
      <th>Numero</th>
      <th>Minimo</th>
      <th>Medio</th>
      <th>Maximo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degrees.each do |degree| %>
      <tr class="row">
        <td><%= degree.number %></td>
        <td><%= degree.minimum %></td>
        <td><%= degree.median %></td>
        <td><%= degree.maximun %></td>
        <td><%= link_to 'Ver', degree %></td>
        <td><%= link_to 'Editar', edit_degree_path(degree) %></td>
        <td><%= link_to 'Eliminar', degree, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo grado', new_degree_path %>
