<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @degree.number %>
</p>

<p>
  <strong>Minimo:</strong>
  <%= @degree.minimum %>
</p>

<p>
  <strong>Medio:</strong>
  <%= @degree.median %>
</p>

<p>
  <strong>Maximo:</strong>
  <%= @degree.maximun %>
</p>

<%= link_to 'Editar', edit_degree_path(@degree) %> |
<%= link_to 'Volver', degrees_path %>
