<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)], ['Valoraciones',company_valuations_path(@company)], [@valuation.job_title.name, edit_valuation_path(@valuation)]]%>

<h1>Histórico <a href="#"><i class="fas fa-question-circle fa-xs icon-blue-question" ></i></a></h1>

<table class="pretty table  table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Valoración</th>
      <th>Campos Anteriores</th>
      <th>Nuevos Campos</th>
      <!--<th colspan="1"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @historics.each do |historic| %>
      <tr>
        <td><%= historic.clase %></td>
        <td><%= historic.user.username %></td>
        <td><%= historic.created_at.strftime("%d/%m/%Y %R") %></td>
        <td><%= raw historic.valuation.job_title.name %></td>
        <td><%= raw historic.previous_fields %></td>
        <td><%= raw historic.new_fields %></td>
        <!-- <td><%= link_to 'Show', historic %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
