<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<%= form_tag(position_types_path, method: :get) do %>
  <div class="form-group">
  <%= label_tag "Nombre:" %>
  <%= text_field_tag :by_name,"", class: "form-control" %>
  </div>
  <%= submit_tag 'Buscar', class: 'btn btn-success' %>
<% end %>

<h1>Tipo de posiciones</h1>

<table class="table table-hover pretty">
  <thead>
    <tr>
      <th><%= sortable "name", "Nombre "%></th>
      <th>Mínimo grado</th>
      <th>Máximo grado</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @position_types.each do |position_type| %>
      <tr>
        <td><%= link_to position_type.name.upcase, position_type %></td>
        <td><%=  position_type.minimum_degree %></td>
        <td><%= position_type.maximum_degree %></td>
        <td><%= link_to 'Editar', edit_position_type_path(position_type) %></td>
        <td><%= link_to 'Eliminar', position_type, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo tipo de posición', new_position_type_path %>
