<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>

<h1>Empresas</h1>

<table class="table table-over">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= link_to 'Editar', edit_company_path(company) %></td>
        <td><%= link_to 'Eliminar', company, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva empresa', new_company_path %>
