<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)], ["Reportes", "/companies/#{@company.id}/reports"]]%>
<table class="table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="<%= @areas.count%>"><h1>Areas</h1></th>
    </tr>
    <tr>
      <th>Grado</th>
      <th>Lim Inf</th>
      <th>Lim Sup</th>
      <th>Puntaje</th>
      <% @areas.each do |area| %>
      <th><%=area.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>

    <% is_first_degree = true %>
    <% last_degree= 0 %>
    <% shown_superior= false %>
    <% shown_inferior= false %>
    <% @valuations.each do |valuation| %>
    <tr>
      <% if last_degree != valuation.degree_id %>

        <% shown_superior= false %>
        <% shown_inferior= false %>
        <% last_degree = valuation.degree_id %>
        <td rowspan="<%= @valuations.where(degree_id:last_degree ).count%>"><%= valuation.degree.number %></td>

      <% end #end for checking the length of row for degree
       %>
      <% if !shown_superior && valuation.score > Degree.find(last_degree).median && valuation.score <=  Degree.find(last_degree).maximun %>
        <% rows = Valuation.where("score > ? and score<= ?",Degree.find(last_degree).median, Degree.find(last_degree).maximun).count %>
        <% shown_superior= true %>
         <td rowspan="<%=rows%>"> <%=Degree.find(last_degree).median + 1 %></td>
         <td rowspan="<%=rows%>"> <%=Degree.find(last_degree).maximun %></td>
      <% end %>
      <% if !shown_inferior && valuation.score<= Degree.find(valuation.degree_id).median && valuation.score >= Degree.find(valuation.degree_id).minimum %>
        <% rows = Valuation.where("score >= ? and score<= ?",Degree.find(last_degree).minimum, Degree.find(last_degree).median).count %>
        <% shown_inferior= true %>
        <td rowspan="<%=rows%>"> <%=Degree.find(last_degree).minimum %></td>
        <td rowspan="<%=rows%>"> <%=Degree.find(last_degree).median %></td>
      <% end %>

        <td><%=valuation.score %></td>
        <% @areas.each do |area| %>
          <% if area.name == valuation.job_title.area.name %>
            <td><%=valuation.job_title.name %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
