<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas', companies_path]]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Volver', companies_path %>

<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href='<%= company_areas_path(@company) %>' class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Areas</span></h4>
      </a>
    </li>

    <li>
      <a href='<%= company_job_titles_path(@company) %>' class="">

        <i class="fa fa-briefcase fa-5x icon-brown" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-brown">Cargos</span></h4>
      </a>
    </li>

    <li>
      <a href="<%= company_valuations_path(@company)%>" class="">

        <i class="fa fa-calculator fa-5x icon-blue" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-blue">Valoraciones</span></h4>
      </a>
    </li>

    <li>
      <a href="/companies/<%= @company.id%>/reports" class="">

        <i class="fa fa-table fa-5x icon-gray" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-gray">Mapas</span></h4>
      </a>
    </li>
  </ul>


</div>
