<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas', companies_path]]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong> 
  <%= @company.name %>
  <a href="#" id="tutorial"><i class="fas fa-question-circle fa-lg icon-blue-question" ></i></a>
</p>

<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Volver', companies_path %>

<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li data-step="1" data-intro="Desde aquí se pueden crear unidades de negocio o consultar las que ya han sido creadas." data-position="bottom">
      <a href='<%= company_business_units_path(@company) %>' class="">

        <i class="fa fa-building fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Unidades de negocio</span></h4>
      </a>
    </li>
    <li data-step="2" data-intro="Desde aquí se pueden crear áreas o consultar las que ya han sido creadas." data-position="bottom">
      <a href='<%= company_areas_path(@company) %>' class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Areas</span></h4>
      </a>
    </li>

    <li data-step="3" data-intro="Una vez creadas las áreas de la empresa, se  puede continuar con la creación de cargos para cada área de su empresa. " data-position="bottom">
      <a href='<%= company_job_titles_path(@company) %>' class="">

        <i class="fa fa-briefcase fa-5x icon-brown" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-brown">Cargos</span></h4>
      </a>
    </li>

    <li data-step="4" data-intro="Una vez tengamos creados nuestros cargos en cada área se puede proceder a realizar las valoraciones para estos." data-position="bottom">
      <a href="<%= company_valuations_path(@company)%>" class="">

        <i class="fa fa-calculator fa-5x icon-blue" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-blue">Valoraciones</span></h4>
      </a>
    </li>

    <li data-step="5" data-intro="Además se encuentra la herramienta de mapas para poder visualizar los cargos que han sido creados." data-position="bottom">
      <a href="/companies/<%= @company.id%>/reports" class="">

        <i class="fa fa-table fa-5x icon-gray" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-gray">Mapas</span></h4>
      </a>
    </li>
  </ul>


</div>
