<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)]]%>
<h1>Areas <a href="#"><i class="fas fa-question-circle fa-xs icon-blue-question" ></i></a></h1>

<p><b>Grupo Empresarial:</b> <%= @company.name%></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre Area</th>
      <th>Unidad de Negocio</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= link_to area.name , area %></td>
        <td><%=   get_area_business_unit_string(area) %></td>
        <td><%= link_to 'Editar', edit_area_path(area) %></td>
        <td><%= link_to 'Eliminar', area, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Area', new_company_area_path %>
