<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas', companies_path], [@area.company.name, company_path(@area.company)],['Areas', company_areas_path(@area.company)]]%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= get_business_unit_string(@area) %>
</p>

<%= link_to 'Editar', edit_area_path(@area) %> |
<%= link_to 'Volver', company_areas_path(@area.company) %>


<%= render 'job_titles/index', job_titles: @area.job_titles %>
