<%= form_for(valuation) do |f| %>
  <% if valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

      <ul>
      <% valuation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :job_title_id %>
    <%= f.text_field :job_title_id , class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :position_type_id %>
    <%= f.select :position_type_id, options_for_select(@position_types.map{ |pt| [pt.name.upcase, pt.id]}),{ :include_blank => true },{ class: 'form-control'} %>
  </div>

  <div class="field form-group">
    <%= f.label :knowledge_id %>
    <%= f.select :knowledge_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_knowledge_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :skill_id %>
    <%= f.select :skill_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_skill_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :definition_supervision_id %>
    <%= f.select :definition_supervision_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_definition_supervision_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :risk_decision_id %>
    <%= f.select :risk_decision_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_risk_decision_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :sustainability_id %>
    <%= f.select :sustainability_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_sustainability_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :area_impact_id %>
    <%= f.select :area_impact_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_area_impact_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :influence_id %>
    <%= f.select :influence_id, options_for_select([]),{ :include_blank => true },{ class: 'form-control valuation_criteria'} %>
    <p id="valuation_influence_id_text"></p>
  </div>

  <div class="field form-group">
    <%= f.label :score %>
    <%= f.number_field :score, {class: 'form-control', disabled: 'disabled'} %>
  </div>

  <div class="field form-group">
    <%= f.label :degree_id %>
    <%= f.select :degree_id,options_for_select(@degrees.map{ |d| [d.number, d.id]}),{ :include_blank => true },{ class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>
