<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)], ["Valoraciones", company_valuations_path(@company)]]%>

<p id="notice"><%= notice %></p>

<h3>Editando valoración <a href="#" id="tutorial"><i class="fas fa-question-circle fa-xs icon-blue-question" ></i></a></h3>

<%= render 'form', valuation: @valuation, locals: { submit_string: 'Editar'} %>
<div class="col-sm-12">
<%= link_to 'Ver', @valuation %> |
<%= link_to 'Volver', company_valuations_path(@valuation.company) %>
</div>
<script type="text/javascript">
    var job_titles = null;
    job_titles = <%= JobTitleSerializer.new(@job_titles).serialized_json %>;
</script>
