<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>

<h1>Valoraciones</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Tipo de posici贸n</th>
      <th>Amplitud y profundidad del conocimiento aplicado</th>
      <th>Actuaci贸n (Habilidades)</th>
      <th>Definiciones y Supervisi贸n</th>
      <th>Riesgos asumidos y nivel de decisiones</th>
      <th>Sostenibilidad (Tiempo)</th>
      <th>Area de Responsabilidad</th>
      <th>Influencia en los resultados</th>
      <th>Puntaje</th>
      <th>Grado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valuations.each do |valuation| %>
      <tr>
        <td><%= valuation.job_title.name %></td>
        <td><%= valuation.position_type.name %></td>
        <td><%= valuation.knowledge.score %></td>
        <td><%= valuation.skill.score %></td>
        <td><%= valuation.definition_supervision.score %></td>
        <td><%= valuation.risk_decision.score %></td>
        <td><%= valuation.sustainability.score %></td>
        <td><%= valuation.area_impact.score %></td>
        <td><%= valuation.influence.score %></td>
        <td><%= valuation.score %></td>
        <td><%= valuation.degree.number %></td>
        <td><%= link_to 'Ver', valuation %></td>
        <td><%= link_to 'Editar', edit_valuation_path(valuation) %></td>
        <td><%= link_to 'Eliminar', valuation, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva valoraci贸n', new_company_valuation_path(params[:company_id]) %>
