<p id="notice"><%= notice %></p>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)]]%>


<a href="#" id="searchLink">Hacer busqueda </a>

<div id="searchForm" style="display:none;">
<%= form_tag(company_valuations_path(params[:company_id]), method: :get) do %>

  <div class="form-group col-sm-6">
  <%= label_tag "Cargo:" %>
  <%= text_field_tag :job_title,params[:job_title], class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
  <%= label_tag "Area:" %>
  <%= select_tag :area,  options_from_collection_for_select(@areas, "id", "name",params[:area]), options = {:include_blank => true, class: 'form-control'} %>
  </div>

  <div class="form-group col-sm-6">
  <%= label_tag "Tipo de posición:" %>
  <%= select_tag :position_type,  options_from_collection_for_select(@position_types, "id", "name",params[:position_type]), options = {:include_blank => true, class: 'form-control'} %>
  </div>

  <div class="form-group col-sm-6">
  <%= label_tag "Puntaje:" %>
  <%= text_field_tag :score,params[:score], class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
  <%= label_tag "Grado:" %>
  <%= select_tag :degree,  options_from_collection_for_select(@degrees, "id", "number",params[:degree]), options = {:include_blank => true, class: 'form-control'} %>
  </div>



  <%= submit_tag 'Buscar', class: 'btn btn-success' %>
<% end %>
</div>


<%= form_tag import_company_valuations_path(@company), multipart: true, class: 'form' do %>
    <%= link_to 'Download as .xlsx', company_valuations_path(@company, format: :xlsx) %>

    <div class="field form-group">
      <%= file_field_tag :file, {class: '', required: "true" }%>
    </div>

    <div class="field form-group">
      <%= submit_tag "Importar xlsx", class: 'btn btn-info' %>
    </div>
<% end %>

<h1>Valoraciones</h1>

<table class="pretty table  table-striped table-bordered table-sm" id="valuationsTable">
  <thead>
    <tr>
      <th colspan="3"></th>
      <th colspan="2">CONOCIMIENTOS Y HABILIDADES</th>
      <th colspan="2">MARCO DE TRABAJO</th>
      <th colspan="3">RESULTADOS</th>
      <th colspan="4">VALORACIÓN</th>
      <th colspan="2">FECHAS</th>
    </tr>
    <tr>
      <th class="col-sm-1">Area</th>
      <th class="col-sm-1"><%= sortable "job_titles.name", "Cargo ", params%></th>
      <!-- <th>Cargo</th> -->
      <th class="col-sm-1"><%= sortable "position_types.name", "Tipo de posición", params%></th>
      <th class="col-sm-1">Amplitud y profundidad del conocimiento aplicado</th>
      <th class="col-sm-1">Actuación (Habilidades)</th>
      <th class="col-sm-1">Definiciones y Supervisión</th>
      <th class="col-sm-1">Riesgos asumidos y nivel de decisiones</th>
      <th class="col-sm-1">Sostenibilidad (Tiempo)</th>
      <th class="col-sm-1">Area de Responsabilidad</th>
      <th class="col-sm-1">Influencia en los resultados</th>
      <th class="col-sm-1"><%= sortable "score", "Puntaje", params%></th>
      <th class="col-sm-1"><%= sortable "degrees.number", "Grados RPT", params%></th>
      <th class="col-sm-1">Grados HAY</th>
      <th class="col-sm-1">Grados GGS</th>
      <th class="col-sm-1">Creación</th>
      <th class="col-sm-1">Última actualización</th>
      <th class="col-sm-1">Histórico</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @valuations.each do |valuation| %>
      <tr>
        <td class="col-sm-1"><%= valuation.job_title.area.name %></td>
        <td class="col-sm-1"><%= valuation.job_title.name %></td>
        <td class="col-sm-1"><%= valuation.position_type.name.upcase %></td>
        <td class="col-sm-1"><%= valuation.knowledge.score %></td>
        <td class="col-sm-1"><%= valuation.skill.score %></td>
        <td class="col-sm-1"><%= valuation.definition_supervision.score %></td>
        <td class="col-sm-1"><%= valuation.risk_decision.score %></td>
        <td class="col-sm-1"><%= valuation.sustainability.score %></td>
        <td class="col-sm-1"><%= valuation.area_impact.score %></td>
        <td class="col-sm-1"><%= valuation.influence.score %></td>
        <td class="col-sm-1"><%= valuation.score %></td>
        <td class="col-sm-1"><%= valuation.degree.number %></td>
        <td class="col-sm-1"><%= valuation.degree.hay %></td>
        <td class="col-sm-1"><%= valuation.degree.ggs %></td>
        <td><%= valuation.created_at.strftime("%d/%m/%Y %R") %></td>
        <td><%=valuation.updated_at.strftime("%d/%m/%Y %R") %></td>
        <td><%= link_to 'Histórico', valuation_historics_path(valuation), target: "_blank" %></td>
        <td><%= link_to 'Editar', edit_valuation_path(valuation) %></td>
        <td><%= link_to 'Eliminar', valuation, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @valuations %>
<br>

<%= link_to 'Nueva valoración', new_company_valuation_path(params[:company_id]) %>
