<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @valuation.job_title %>
</p>

<p>
  <strong>Position type:</strong>
  <%= @valuation.position_type %>
</p>

<p>
  <strong>Knowledge:</strong>
  <%= @valuation.knowledge %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @valuation.skill %>
</p>

<p>
  <strong>Definition supervision:</strong>
  <%= @valuation.definition_supervision %>
</p>

<p>
  <strong>Risk decision:</strong>
  <%= @valuation.risk_decision %>
</p>

<p>
  <strong>Sustainability:</strong>
  <%= @valuation.sustainability %>
</p>

<p>
  <strong>Area impact:</strong>
  <%= @valuation.area_impact %>
</p>

<p>
  <strong>Influence:</strong>
  <%= @valuation.influence %>
</p>

<p>
  <strong>Score:</strong>
  <%= @valuation.score %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @valuation.degree %>
</p>

<%= link_to 'Edit', edit_valuation_path(@valuation) %> |
<%= link_to 'Back', valuations_path %>
