<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @valuation.job_title %>
</p>

<p>
  <strong>Tipo de posición:</strong>
  <%= @valuation.position_type %>
</p>

<p>
  <strong>Amplitud y profundidad del conocimiento aplicado:</strong>
  <%= @valuation.knowledge %>
</p>

<p>
  <strong>Actuación (Habilidades):</strong>
  <%= @valuation.skill %>
</p>

<p>
  <strong>Definiciones y Supervisión:</strong>
  <%= @valuation.definition_supervision %>
</p>

<p>
  <strong>Riesgos asumidos y nivel de decisiones:</strong>
  <%= @valuation.risk_decision %>
</p>

<p>
  <strong>Sostenibilidad (Tiempo):</strong>
  <%= @valuation.sustainability %>
</p>

<p>
  <strong>Area de Responsabilidad:</strong>
  <%= @valuation.area_impact %>
</p>

<p>
  <strong>Influencia en los resultados:</strong>
  <%= @valuation.influence %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @valuation.score %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @valuation.degree %>
</p>

<%= link_to 'Editar', edit_valuation_path(@valuation) %> |
<%= link_to 'Volver', valuations_path %>
