<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)], ["Valoraciones", company_valuations_path(@company)]]%>


<p id="notice"><%= notice %></p>



<p>
  <strong>Cargo:</strong>
  <%= @valuation.job_title.name %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @valuation.position_type.name %>
</p>

<p>
  <strong>Amplitud y profundidad del conocimiento aplicado:</strong>
  <%= @valuation.knowledge.degree.number %>
</p>

<p>
  <strong>Actuación (Habilidades):</strong>
  <%= @valuation.skill.degree.number %>
</p>

<p>
  <strong>Definiciones y Supervisión:</strong>
  <%= @valuation.definition_supervision.degree.number %>
</p>

<p>
  <strong>Riesgos asumidos y nivel de decisiones:</strong>
  <%= @valuation.risk_decision.degree.number %>
</p>

<p>
  <strong>Sostenibilidad (Tiempo):</strong>
  <%= @valuation.sustainability.degree.number %>
</p>

<p>
  <strong>Area de Responsabilidad:</strong>
  <%= @valuation.area_impact.degree.number %>
</p>

<p>
  <strong>Influencia en los resultados:</strong>
  <%= @valuation.influence.degree.number %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @valuation.score %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @valuation.degree.number %>
</p>

<p>
  <strong>Revisado:</strong>
  <input type="checkbox" disabled <%= @valuation.review ? "checked":"" %>>
</p>

<p>
  <strong>Aprobado:</strong>
  <input type="checkbox" disabled <%= @valuation.approve ? "checked":"" %>>
</p>

<p>
  <%= link_to 'Histórico', valuation_historics_path(@valuation), target: "_blank" %>
</p>



<%= link_to 'Editar', edit_valuation_path(@valuation) %> |
<%= link_to 'Volver', company_valuations_path(@valuation.company) %>
