<%= form_for(role) do |f| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error", plurar="errores") %> impidieron a este rol de ser guardado:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label "Grado" %>
    <%= f.select :degree_id, options_for_select(@degrees.map{ |d| [d.number, d.id]}),{ :include_blank => true, selected: @role.degree_id },{ class: 'form-control'} %>
  </div>

  <div class="field form-group">
    <%= f.label "Tipo de posición" %>
    <%= f.select  :position_type_id, options_for_select(@position_types.map{ |pt| [pt.name.upcase, pt.id]}),{ :include_blank => true, selected: @role.position_type_id },{ class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= f.submit locals[:submit_string], class: 'btn btn-success'%>
  </div>
<% end %>
