<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @role.degree.number %>
</p>

<p>
  <strong>Tipo de posición:</strong>
  <%= @role.position_type.name.upcase %>
</p>

<%= link_to 'Editar', edit_role_path(@role) %> |
<%= link_to 'Volver', roles_path %>
